<h1>Editing Note for <%= link_to @note.participant.first_name, participant_path(@note.participant) %> <%= link_to @note.participant.surname, participant_path(@note.participant) %></h1>
<p id="notice"><%= notice %></p>
<%= render 'form', note: @note %>
