<h2 align="right"> Logged in as: d.go </h2>
<h1>New/Edit Note:</h1>
<p><textarea rows="6" cols="50">Sample note</textarea></p>
<p>Notify On: <input type="text" value="2016/10/03"> Important <select name="Important"><option value="true">True</option><option value="false">False</option></select></p>
<p><input type="button" value="Save"> <input type="button" value="Cancel"></p>
