<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Welcome to Loggr, <%= @new_user.full_name %>!</h1>
    <p>
      Your account has been approved. Sign in to Loggr <%= link_to 'here', login_url + '?' + new_user.email %>.
    </p>
    <p>
      Ta.
      <br/>
      Sincerely,
      Neura Loggr Team
    </p>
  </body>
</html>
