<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
	<h1>Hello <%= @forgetful_user.full_name %></h1>

	<p>A request has been made to reset your password</p>

	<p>Please click <%= link_to "here", @url %> to reset your password</p>

	<p>If this action was completed in error, please disregard this email.</p>

	<p>If you are having trouble with your account, please email dexterfgo@gmail.com</p>

	<p>Best regards,</p>

	<p>Loggr Team</p>
  </body>
</html>