<h1 align="center">Loggr</h1>
<p>Email/Username: <input type="text"></p>
<p>Password:       <input type="text"></p>
<p><input type="button" value="Log In"><input type="button" value="Sign Up"> <input type="button" value="Forgot Password?"></p>
<h2>Contact dexterfgo@gmail.com if you don't have access or have access problems.</h2>
