<%= month_calendar(attribute: :notify_on, events: @notifications) do |day_of_month, notifs| %>
	<%= day_of_month.strftime('%-d') %>
	<% notifs.each do |note| %>
		<div>
			<%=note.notify_on.strftime('%I:%M%p') %> <%=link_to truncate(note.participant.name), participant_note_path(note.participant,note) %>
		</div>
	<% end %>
<% end %>
