/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "https://fonts.googleapis.com/css?family=Cabin|Metrophobic";

/*
body, p, ol, ul, input, select, td, textarea, button, input[type=submit] {
    font-family: 'Bree Serif', serif;
    font-size: 16px;
}

td {
    /* if you wanna check the borders for testing */
    /* border:5px solid #050500; */ /*
}

th {
    background-color: #ffcccc
}

tr {
    background-color: #99ccff
}

tr.dashboard, tr.profile_card {
    background-color: #000000;
    vertical-align: middle;
}

td.profile_card_details {
    width:200px;
    height:35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border:5px solid #ffffff;
    font-size: 14px;
    color: #ffffff;
}

a {
    color: #0099cc;
}

a:visited {
    color: #ff33cc;
}

a:hover {
    color: #009999;
    /*background-color: #000;*/ /*
} 

.icon-links {
    width: 50px;
    height: 50px;
    resize: true;
}
.session-dashboard {
    display: inline-block;
    vertical-align: right;
}
.centered-wrapper {
    position: relative;
    text-align: center;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
} 