$font-family-sans-serif: 'Metrophobic', 'Cabin', sans-serif;
$brand-primary: #719600 !default;

@import "bootstrap";


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 100px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  padding-top: 50px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #ccccff;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.icon-links {
    width: 50px;
    height: 50px;
    resize: true;
}

tr.profile_card {
    background-color: #000000;
    vertical-align: middle;
}

table.table.table-striped tr.important_note {
    background-color: #ffcccc;
}

td.profile_card_details {
    font-family: 'Cabin';
    width:200px;
    height:35px;
    font-size: 12px;
    color: #ffffff;
}

td.profile_card_details > a {
    color: #ffcc99;
}

/*
 * Beautify checkbox
 */

.input-group-addon.beautiful input[type="checkbox"],
.input-group-addon.beautiful input[type="radio"] {
    display: none;
    background: transparent;
}

/*
 * Post It Effect
 */

*{
  margin:0;
  padding:0;
}
body.post_it_note{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#666;
  color:#fff;
}
h2.post_it_note, p.post_it_note{
  font-size:100%;
  font-weight:normal;
}
ul.post_it_note,li.post_it_note{
  list-style:none;
}
ul.post_it_note{
  overflow:hidden;
  padding:3em;
}
ul.post_it_note li.post_it_note{
  margin:1em;
  float:left;
}
ul.post_it_note li.post_it_note a.post_it_note{
  font-family: 'Atma';
  font-size:180%;
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;

  /* Shadows */
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

  /* Transitions */
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

/* Tilting Effects */
ul.post_it_note li.post_it_note:nth-child(even) a.post_it_note{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul.post_it_note li.post_it_note:nth-child(3n) a.post_it_note{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
ul.post_it_note li.post_it_note:nth-child(5n) a.post_it_note{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
  background:#ccf;
}