/*
 * Sticky Notes w/ Corkboard
 */

*{
  margin:0;
  padding:0;
}

body.post_it_note {
  margin:3em;
  background:#666;
  color:#fff;
}

/* New/Edit Note */

.sticky_editor, .post_it_note_show {
  border: none;
  overflow: auto; 
  font-family: 'Atma';
  height:100px;

  /* Shadows */
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

  /* Tilt 
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px; */
}

.sticky_editor {
  background:#cfc;
}

h2.post_it_note, p.post_it_note_footer {
  font-size:70%;
}

p.post_it_note {
  font-size:80%;
}

p.post_it_note_legend {
  color: #fff;
  font-family: 'Atma';
  font-size:200%;
  align:center;
}

h2.post_it_note, p.post_it_note, p.post_it_note_legend {
  font-weight:normal;
}

ul.post_it_note_important, li.post_it_note_important {
  list-style-image: url('misc/pin_important_s.png');
}

ul.post_it_note_unimportant, li.post_it_note_unimportant {
  list-style-image: url('misc/pin_not_important_s.png');
}

ul.post_it_note, li.post_it_note {
  list-style-position: inside;
  background-image: url('background/corkboard.jpg');

}

ul.post_it_note {
  overflow:hidden;
  padding:3em;
}

ul.post_it_note li.post_it_note {
  margin:1em;
  float:left;
}

ul.post_it_note li.post_it_note a.post_it_note {
  font-family: 'Atma';
  font-size:180%;
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;

  /* Shadows */
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

  /* Transitions */
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

/* Sticky Notes: Tilting Effects */
ul.post_it_note li.post_it_note:nth-child(even) a.post_it_note {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}

ul.post_it_note li.post_it_note:nth-child(3n) a.post_it_note {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}

ul.post_it_note li.post_it_note:nth-child(5n) a.post_it_note {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
  background:#ccf;
}